@import 'reset';
@import 'mixins';
@import 'variables';
@import 'animations';
@import 'media-queries';

.stars {
	@include center-all();
	color: yellow;
	font-size: 5vw;
	margin-top: -20vh;

	@include mobile-only {
		margin-top: -10vh;
		font-size: 8vw;
	}
}

.welcome {
	@include center-all();
}
.welcome-text {
	color: $primary-color;
	text-align: center;
	font-family: $font-titles;
	font-size: 10vw;
	@include mobile-only {
		font-size: 14vw;
	}
	max-width: 90vw;

	animation-duration: 1s;
	animation-name: heartbeat;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.nav-menu {
	@include center-all();
	
	margin-top: 12rem;
	width: 100vw;
	text-align: center;

	@include mobile-only {
		margin-top: 10rem;
	}

	a {
		color: $secondary-color;
		font-family: $font-stack;
		font-size: 1.5rem;
		margin: 0 1.5rem;
		@include mobile-only {
			font-size: 1.25rem;
			margin: 0.5rem auto;
			display: block;
		}

		&:hover {
			color: $primary-color;
			text-decoration: underline;
			cursor: pointer;
		}
	}
}

.background {
	z-index: -1000;
	@include cover();
}
.darken {
	background-color: rgba(25, 25, 25, 0.9);

	z-index: -100;
}
.overlay {
	@include cover();
}